force-app/main/default/flows/Application_Submission_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Is_Submitted</name>
        <label>Is Submitted</label>
        <rules>
            <name>Submitted_Change</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submitted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert_Received</targetReference>
            </connector>
        </rules>
    </decisions>
    <actionCalls>
        <name>Alert_Received</name>
        <label>Alert Received</label>
        <actionName>Application__c.Alert_Received</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Assign_Reviewer</targetReference>
        </connector>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Assign_Reviewer</name>
        <label>Assign Reviewer</label>
        <actionName>ReviewerAssignmentService.assignReviewer</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Create_Review</targetReference>
        </connector>
        <inputParameters>
            <name>applicationId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>ReviewerIdVar</assignToReference>
            <name>reviewerId</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Alert_Review</name>
        <label>Alert Review</label>
        <actionName>Application__c.Alert_Review</actionName>
        <actionType>emailAlert</actionType>
        <inputParameters>
            <name>RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <recordCreates>
        <name>Create_Review</name>
        <label>Create Review</label>
        <connector>
            <targetReference>Update_Application_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reviewer__c</field>
            <value>
                <elementReference>ReviewerIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Review_Date__c</field>
            <value>
                <stringValue>{!$Flow.CurrentDate}</stringValue>
            </value>
        </inputAssignments>
        <object>Review__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Application_Status</name>
        <label>Update Application Status</label>
        <connector>
            <targetReference>Alert_Review</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Under Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <variables>
        <name>ReviewerIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <start>
        <connector>
            <targetReference>Is_Submitted</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Application__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
